@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

footer {
  margin: 3rem; }

.layer h1 {
  color: white;
  font-size: 10rem;
  text-shadow: 2px 2px rgba(27, 28, 26, 0.5); }

.layer p {
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px rgba(27, 28, 26, 0.5); }

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
  overflow: hidden; }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3; }

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 30%;
  /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
  overflow: hidden; }

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff; }

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display: none !important; }

img.herologo {
  max-width: 30%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); }

.car {
  opacity: 0;
  transition: all 0.3s ease; }

.car.fade-in {
  opacity: 1; }

.car1 {
  grid-area: car1;
  opacity: 1; }

.info1 {
  grid-area: info1; }

.car2 {
  grid-area: car2; }

.info2 {
  grid-area: info2; }

.car3 {
  grid-area: car3; }

.info3 {
  grid-area: info3;
  height: 100%; }

.info1, .info2, .info3 {
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: indianred;
  height: 50vh;
  width: 100vw;
  position: relative; }

.car1, .car2, .car3 {
  height: 50vh;
  width: 100vw;
  position: relative;
  object-fit: cover;
  z-index: 1; }

img.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; }

.hero {
  width: 100vw;
  display: grid;
  grid-template-areas: "car1" "info1" "car2" "info2" "car3" "info3"; }

@media (min-width: 500px) {
  .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    grid-template-areas: "car1  info1" "car2  info2" "car3  info3"; }
  .car1, .car2, .car3 {
    height: 100vh;
    width: 50vw;
    object-fit: fill; }
  .info1, .info2, .info3 {
    height: 100vh;
    width: 50vw; } }

.slider {
  display: flex; }

.slider-container {
  position: relative;
  z-index: 2; }

.slider-nav {
  float: left; }

.slider img {
  height: 120vh;
  width: 100vw;
  object-fit: cover; }

.slider-nav {
  width: 10vw;
  display: inline-block;
  z-index: 2; }

.index-nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 5;
  background: black;
  width: 100%;
  height: 5em; }

.navbar-brand, .navbar-link {
  margin: auto; }

.logonav {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -5em;
  background-color: black;
  border-style: solid;
  border-color: red;
  overflow: hidden; }

img.navbarlogo {
  width: 10em;
  position: relative;
  top: 6em; }

div.navbar-link h3 {
  font-size: 1.4em; }

.navbar-toggle {
  display: none; }

@media only screen and (max-width: 500px) {
  .navbar-link, .index-nav {
    flex-direction: column; }
  .navbar-link {
    display: none; }
  .navbar-toggle {
    display: initial;
    cursor: pointer;
    margin: 1.5rem;
    position: absolute; }
  .navbar-link.active {
    display: inherit; }
  img.navbarlogo {
    display: none; } }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  grid-gap: 1rem;
  margin: 5rem 0 0 0; }

.card {
  background: navy;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e; }

.card h2, p {
  padding: .5rem; }

.sketchfab-iframe-card {
  min-height: 200px;
  border: .25px solid #000000; }

@media (min-width: 500px) {
  .cards {
    margin: 5rem 1rem 1rem 1rem; }
  .card {
    border-radius: 0; } }

.sketchfab-iframe {
  height: 95vh; }

.lost {
  margin: 4em; }

body {
  background-color: DarkSlateBlue;
  overflow-x: hidden;
  font-family: "Montserrat"; }
