@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

footer {
  margin: 3rem; }

.car {
  opacity: 0;
  transition: all 0.3s ease; }

.car.fade-in {
  opacity: 1; }

.car1 {
  grid-area: car1;
  opacity: 1; }

.info1 {
  grid-area: info1; }

.car2 {
  grid-area: car2; }

.info2 {
  grid-area: info2; }

.car3 {
  grid-area: car3; }

.info3 {
  grid-area: info3;
  height: 100%; }

.info1, .info2, .info3 {
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: indianred;
  height: 50vh;
  width: 100vw;
  position: relative; }

.car1, .car2, .car3 {
  height: 50vh;
  width: 100vw;
  position: relative;
  object-fit: cover;
  z-index: 1; }

img.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; }

.hero {
  width: 100vw;
  display: grid;
  grid-template-areas: "car1" "info1" "car2" "info2" "car3" "info3"; }

@media (min-width: 500px) {
  .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    grid-template-areas: "car1  info1" "car2  info2" "car3  info3"; }
  .car1, .car2, .car3 {
    height: 100vh;
    width: 50vw;
    object-fit: fill; }
  .info1, .info2, .info3 {
    height: 100vh;
    width: 50vw; } }

.slider {
  display: flex; }

.slider-container {
  position: relative;
  z-index: 2; }

.slider-nav {
  float: left; }

.slider img {
  height: 120vh;
  width: 100vw;
  object-fit: cover; }

.slider-nav {
  width: 10vw;
  display: inline-block;
  z-index: 2; }

.index-nav {
  display: flex;
  padding: 0.5rem; }

.navbar-link {
  margin-left: 5rem;
  align-content: right; }

@media only screen and (max-width: 500px) {
  .navbar-link, .index-nav {
    flex-direction: column; } }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem; }

.card {
  background: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card h2, p {
  padding: .5rem; }

.sketchfab-iframe-card {
  min-height: 200px;
  border: .25px solid #000000; }

@media (min-width: 500px) {
  .cards {
    margin: 1rem; } }

.sketchfab-iframe {
  min-height: 400px; }

body {
  background-color: lemonchiffon;
  overflow-x: hidden;
  font-family: "Montserrat"; }

h1 {
  font-size: 1.5rem; }

h2 {
  color: #000;
  margin: 2rem 0 .5rem;
  font-size: 1.25rem;
  font-weight: 400; }
