@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

footer {
  margin: 3rem; }

.layer h1 {
  color: white;
  font-size: 10rem;
  text-shadow: 2px 2px rgba(27, 28, 26, 0.5); }

.layer p {
  color: white;
  font-size: 1.5rem;
  text-shadow: 2px 2px rgba(27, 28, 26, 0.5); }

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
  overflow: hidden; }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  /* in case the video doesn't fit the whole page*/
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  /*cover video background */
  z-index: 3; }

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 30%;
  /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*solves problem with overflowing video in Mac with Chrome */
#section0 {
  overflow: hidden; }

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff; }

/* Hiding video controls
* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
* --------------------------------------- */
video::-webkit-media-controls {
  display: none !important; }

.herobtn {
  background: rgba(27, 28, 26, 0.8);
  border: 1px solid white;
  color: white;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  border-radius: 30px;
  padding: 7px 40px;
  display: inline-block;
  margin-top: 20px; }

.herobtn:hover {
  background: #293744;
  border: 1px solid #293744;
  color: #fff !important; }

img.herologo {
  max-width: 40%;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222); }

@media (min-width: 580px) {
  img.herologo {
    max-width: 40%;
    height: auto; } }

.car {
  opacity: 0;
  transition: all 0.3s ease; }

.car.fade-in {
  opacity: 1; }

.car1 {
  grid-area: car1;
  opacity: 1; }

.info1 {
  grid-area: info1; }

.car2 {
  grid-area: car2; }

.info2 {
  grid-area: info2; }

.car3 {
  grid-area: car3; }

.info3 {
  grid-area: info3;
  height: 100%; }

.info1, .info2, .info3 {
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: indianred;
  height: 50vh;
  width: 100vw;
  position: relative; }

.car1, .car2, .car3 {
  height: 50vh;
  width: 100vw;
  position: relative;
  object-fit: cover;
  z-index: 1; }

img.hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden; }

.hero {
  width: 100vw;
  display: grid;
  grid-template-areas: "car1" "info1" "car2" "info2" "car3" "info3"; }

@media (min-width: 580px) {
  .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    grid-template-areas: "car1  info1" "car2  info2" "car3  info3"; }
  .car1, .car2, .car3 {
    height: 100vh;
    width: 50vw;
    object-fit: fill; }
  .info1, .info2, .info3 {
    height: 100vh;
    width: 50vw; } }

.slider {
  display: flex; }

.slider-container {
  position: relative;
  z-index: 2; }

.slider-nav {
  float: left; }

.slider img {
  height: 120vh;
  width: 100vw;
  object-fit: cover; }

.slider-nav {
  width: 10vw;
  display: inline-block;
  z-index: 2; }

.index-nav {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 5;
  background: #0f1419;
  width: 100%;
  height: 5em; }

.navbar-brand, .navbar-link {
  margin: auto;
  transition: width .3s; }

a {
  color: #b3b2b2; }

a:hover {
  text-decoration: none;
  color: white; }

.navbar-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s; }

.navbar-link:hover::after {
  width: 100%; }

.logonav {
  width: 13em;
  height: 13em;
  border-radius: 50%;
  display: block;
  position: relative;
  top: -5em;
  background-color: #0f1419;
  border-style: solid;
  border-color: white;
  overflow: hidden; }

img.navbarlogo {
  width: 10em;
  position: relative;
  top: 6em;
  left: 1.3em; }

div.navbar-link h3 {
  font-size: 1.4em; }

body > nav > div.navbar-toggle > i {
  color: white;
  -webkit-filter: drop-shadow(5px 5px 5px #0f1419);
  filter: drop-shadow(2px 2px 2px #0f1419); }

.navbar-toggle {
  display: none; }

.homenav {
  display: none; }

@media only screen and (max-width: 580px) {
  .index-nav {
    background: transparent; }
  .index-nav.active {
    background-color: #0f1419;
    height: 100%;
    transition: height .3s; }
  .navbar-link, .index-nav {
    flex-direction: column; }
  .navbar-link {
    display: none; }
  .navbar-toggle {
    display: initial;
    cursor: pointer;
    margin: 1.5rem;
    position: absolute; }
  .navbar-toggle.active {
    display: initial;
    cursor: pointer;
    margin: 1.5rem;
    position: absolute;
    color: white; }
  .navbar-link.active {
    display: inherit; }
  .navbar-link.logonav {
    display: none;
    margin: auto; }
  img.navbarlogo {
    display: none; }
  div.navbar-link h3 {
    font-size: 1.2em; } }

#section2 {
  background-image: url(/images/FinalLookDesktop-Design.jpg);
  background-position: center;
  background-size: cover; }

.background-pricing {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 10em auto; }

.pricing-table h2 {
  font-size: 1.5em;
  padding: 35px 10px;
  margin: 0; }

.description {
  margin-top: 20px;
  font-size: 0.85em;
  padding: 0 40px;
  font-style: italic; }

.description {
  margin-top: 20px;
  font-size: 0.85em;
  padding: 0 40px;
  font-style: italic; }

.price,
.pricing-box {
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s; }

.price {
  background: #0c1014;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  padding: 20px 10px;
  display: block; }

.pricing-box:nth-child(2) .price {
  background: #003a57; }

.pricing-box:nth-child(3) .price {
  background: #0c1014; }

.pricing-box:hover .price {
  background: white;
  box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
  color: #000; }

.btn {
  background: #ff0;
  border: 1px solid #d9d909;
  color: #000;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  border-radius: 30px;
  padding: 7px 40px;
  display: inline-block;
  margin-top: 20px; }

.btn:hover {
  background: #093e64;
  border: 1px solid #093e64;
  color: #fff !important; }

.pricing-table-divider {
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.08);
  max-width: 80%;
  margin: 20px auto 0; }

.pricing-table {
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center; }

.pricing-box {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  border: 2px solid rgba(10, 123, 183, 0.14);
  background-image: linear-gradient(#293744, #394453);
  color: #cccccc; }

.pricing-box:nth-child(2) {
  background-image: linear-gradient(#00aaff, #394453); }
  .pricing-box:nth-child(2) h2 {
    color: #005580; }

.pricing-box:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01); }

.pricing-table ul li {
  padding: 3px 0;
  font-size: 0.95em; }

.pricing-table ul {
  color: #000;
  padding: 15px 60px;
  text-align: left; }

li {
  color: white; }

ul {
  list-style: none; }

ul li:before {
  content: '✓';
  color: white; }

@media (max-width: 1000px) {
  .pricing-table {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; }
  .pricing-table > div:nth-child(3) {
    -ms-grid-row: 3;
    grid-row-start: 3; }
  .pricing-table > div:nth-child(2) {
    -ms-grid-row: 2;
    grid-row-start: 2; }
  .pricing-table > div {
    -ms-flex-item-align: top;
    -ms-grid-row-align: top;
    align-self: top; } }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-auto-flow: dense;
  grid-gap: 1rem;
  margin: 5rem 0 0 0; }

.card {
  background: navy;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: #5d5e5e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card h2, p {
  padding: .5rem; }

.sketchfab-iframe-card {
  min-height: 200px; }

div.galleryListInfo > a {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0; }

@media (min-width: 580px) {
  .cards {
    margin: 10rem 1rem 1rem 1rem; }
  .card {
    border-radius: 0; } }

.sketchfab-iframe {
  height: 95vh; }

.lost {
  margin: 4em; }

body {
  background-color: #293744;
  overflow-x: hidden;
  font-family: "Montserrat"; }
