{{define "main"}}
<div class="background-pricing">
  <div class="wrapper">
    <div class="pricing-table">
      <div class="pricing-box">
        <h2>{{.Site.Params.pricing1.pricingTitle1}}</h2>
        <span class="price">{{.Site.Params.pricing1.price1}}</span>
        <p class="description">{{.Site.Params.pricing1.description1}}</p>
        <span class="pricing-table-divider"></span>
        <ul>
        {{ range $pricing := .Site.Params.pricing1.checklist }}
            <li> {{ $pricing }}</li>
        {{end}}
        </ul>
      </div>
      <div class="pricing-box">
        <h2>{{.Site.Params.pricing2.pricingTitle2}}</h2>
        <span class="price">{{.Site.Params.pricing2.price2}}</span>
        <p class="description">{{.Site.Params.pricing2.description2}}</p>
        <span class="pricing-table-divider"></span>
        <ul>
        {{ range $pricing := .Site.Params.pricing2.checklist }}
            <li> {{ $pricing }}</li>
        {{end}}
        </ul>
      </div>
      <div class="pricing-box pricing-table-best">
        <h2>{{.Site.Params.pricing3.pricingTitle3}}</h2>
        <span class="price">{{.Site.Params.pricing3.price3}}</span>
        <p class="description">{{.Site.Params.pricing3.description3}}</p>
        <span class="pricing-table-divider"></span>
        <ul>
        {{ range $pricing := .Site.Params.pricing3.checklist }}
          <li> {{ $pricing }}</li>
        {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}}