.car{
    opacity: 0;
    transition: all 0.3s ease;
}
  
.car.fade-in{
opacity: 1;
}

.car1 {
    grid-area: car1;
    opacity: 1;
}

.info1 {
    grid-area: info1;
}

.car2 {
    grid-area: car2;
}

.info2 {
    grid-area: info2;
}

.car3 {
    grid-area: car3;
}

.info3 {
    grid-area: info3;
    height: 100%;
}

.info1, .info2, .info3 {
display: grid;
align-content: center;
justify-content: center;
background-color: indianred;
height: 50vh;
width: 100vw;
position: relative;
}

.car1, .car2, .car3 {
height: 50vh;
width: 100vw;
position: relative;
object-fit: cover;
z-index: 1;
}

img.hero {
width: 100%;
height: 100%;
object-fit: cover;
overflow: hidden;
}

.hero {
width: 100vw;
display: grid;
grid-template-areas: 
    "car1"
    "info1"
    "car2"
    "info2"
    "car3"
    "info3";
}

@media (min-width:$min-width) {
    .hero {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    grid-template-areas: 
        "car1  info1"
        "car2  info2"
        "car3  info3";
    }
    .car1, .car2, .car3 {
    height: 100vh;
    width: 50vw;
    object-fit: fill
    }
    .info1, .info2, .info3{
    height: 100vh;
    width: 50vw;
    }    
        

}