.index-nav {
    display: flex;
    position: fixed;
    top:0;
    z-index: 5;
    background: $nav-background;
    width: 100%;
    height: 5em;
}
  
.navbar-brand, .navbar-link {
    margin: auto;
    transition: width .3s;
}

a{
    color: darken($accent,30%);
}

a:hover {
    text-decoration: none;
    color: $accent;
}

.navbar-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:$accent;
    transition: width .3s; 
}
.navbar-link:hover::after {
width: 100%;
}    

.logonav{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    display: block;
    position: relative;
    top: -5em;
    background-color: $nav-background;
    border-style: solid;
    border-color: $accent;
    overflow: hidden;
}
img.navbarlogo {
    width: 10em;
    position: relative;
    top: 6em;
    left: 1.2em;
}

div.navbar-link h3 {
    font-size: 1.4em;
}

body > nav > div.navbar-toggle > i {
    color:$accent ;
    -webkit-filter: drop-shadow(5px 5px 5px $nav-background);
    filter: drop-shadow(2px 2px 2px $nav-background);
}

.navbar-toggle{
    display: none;
}

@media only screen and (max-width: $min-width){
    
    .index-nav{
        background: transparent;
    }
    .index-nav.active{
        background-color: $nav-background;
        height: 100%;
        transition: height .3s;
    }
    .navbar-link, .index-nav {
        flex-direction: column;       
    }
    .navbar-link {
        display: none;
    }
    .navbar-toggle {
        display: initial;
        cursor: pointer;
        margin: 1.5rem;
        position: absolute;
      }
      .navbar-toggle.active {
        display: initial;
        cursor: pointer;
        margin: 1.5rem;
        position: absolute;
        color: $accent;
      }
    .navbar-link.active {
        display: inherit;
    }

    .navbar-link.logonav {
        display: none;
        margin: auto;
    }
    img.navbarlogo {
        display: none;
    }
    div.navbar-link h3 {
        font-size: 1.2em;
    }  
}