.index-nav {
    display: flex;
    position: fixed;
    top:0;
    z-index: 5;
    background: rgba($nav-background,0.8);
    width: 100%;
}
  
.navbar-brand, .navbar-link {
    margin: auto;
}  

.navbar-toggle{
    display: none;
}

@media only screen and (max-width: 500px){
    .navbar-link, .index-nav {
        flex-direction: column;       
    }
    .navbar-link {
        display: none;
    }
    .navbar-toggle {
        display: initial;
        cursor: pointer;
        margin: 1.5rem;
        position: absolute;
      }
    .navbar-link.active {
        display: inherit;
    }  
}