#section6{
    background-image: url(/images/index/pricing/PricingmobileBG.jpg);
    background-position: center;
    background-size: cover;
}
.pricingbtn {
    background: rgba(27,28,26,.8);
    border: 1px solid $accent;
    color: white;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    border-radius: 30px;
    padding: 7px 40px;
    display: inline-block;

  }
  .pricingbtn:hover {
    background: $background;
    border: 1px solid $background;
    color: #fff !important;
  }