#section3{
    background-image: url(/images/index/vr/1VRMobile.jpg);
    background-position: center;
    background-size: cover;
}

.vrscene{
    height: 100vh;
}
$vr4height: 13em;
.VR4-absolute{
    position: absolute;
    top:8em;
    left:25vw;
    height: $vr4height;
}
.VR4{
    height: $vr4height;
}

$vr3height: 19em;
.VR3-absolute{
    position: absolute;
    bottom:4em;
    left:25vw;
    height: $vr3height;
}
.VR3{
    height: $vr3height;
}

$vr2height: 19em;
.VR2-absolute{
    position: absolute;
    bottom:8em;
    left:28vw;
    height: $vr2height;
}
.VR2{
    height: $vr2height;
}

$vr5height: 8em;
.VR5-absolute{
    position: absolute;
    bottom:2em;
    width: 100vw;
    height: $vr5height;
}
.VR5{
    height: $vr5height;
    display: block;
    margin-left: 38vw;
    margin-right:auto;

}


@media only screen and (max-width: $min-width){

$vr4height: 9em;
.VR4-absolute{
    position: absolute;
    top:4em;
    left:20vw;
    height: $vr4height;
}
.VR4{
    height: $vr4height;
}

$vr3height: 13em;
.VR3-absolute{
    position: absolute;
    bottom:4em;
    left:10vw;
    height: $vr3height;
}
.VR3{
    height: $vr3height;
}

$vr2height: 13em;
.VR2-absolute{
    position: absolute;
    bottom:8em;
    left:8vw;
    height: $vr2height;
}
.VR2{
    height: $vr2height;
}
$vr5height: 6em;
.VR5-absolute{
    position: absolute;
    bottom:2em;
    width: 100vw;
    height: $vr5height;
}
.VR5{
    height: $vr5height;
    display: block;
    margin-left: 7vw;
    margin-right:auto;

}

}