body {
  margin: 0px;
  padding: 0px;
}

.car1 {
    grid-area: car1;
  }

.info1 {
    grid-area: info1;
  }

.car2 {
    grid-area: car2;
  }

.info2 {
    grid-area: info2;
}
  
.car3 {
    grid-area: car3;
  }

.info3 {
    grid-area: info3;
    height: 100%;
  }

.info1, .info2, .info3 {
  display: grid;
    color: darkgreen;
    align-content: center;
    justify-content: center;
}

.car1, .car2, .car3 {
  height: 50vh;
  width: 100vw;

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
        "car1"
        "info1"
        "car2"
        "info2"
        "car3"
        "info3";
  }

  @media (min-width: 500px) {
    .hero {
      grid-template-columns: 50% 50%;
      grid-template-rows: 100% 100%;
      grid-template-areas: 
        "car1  info1"
        "car2  info2"
        "car3  info3";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
    .car1, .car2, .car3 {
      height: 100vh;
      width: 50vw;
    }
  }