{{define "main"}}
<div class="background-pricing">
  <div class="wrapper">
<meta name="robots" content="noindex" />
<div class="pricing-table-top">
  <div class="pricing-box">
    <h2>{{.Site.Params.pricingtop.pricingTitle}}</h2>
    <p class="description">{{.Site.Params.pricingtop.description}}</p>
    <span class="pricing-table-divider"></span>
    <ul>
    {{ range $pricing := .Site.Params.pricingtop.checklist }}
        <li> {{ $pricing }}</li>
    {{end}}
    </ul>
    <ul class="competitive"><li class="competitive"> Competitive Advantage</li></ul>
  </div>
</div>
    <div class="pricing-table">
      <div class="pricing-box">
        <h2>{{.Site.Params.pricing1.pricingTitle1}}</h2>
        <span class="price">{{.Site.Params.pricing1.price1}}</span>
        <span class="price monthly">{{.Site.Params.pricing1.monthlyprice1}}</span>
        <p class="description">{{.Site.Params.pricing1.description1}}</p>
        <span class="pricing-table-divider"></span>
        <ul>
        {{ range $pricing := .Site.Params.pricing1.checklist }}
            <li> {{ $pricing }}</li>
        {{end}}
        </ul>
      </div>
      <div class="pricing-box">
        <h2 class="pricingaccent">{{.Site.Params.pricing2.pricingTitle2}}</h2>
        <span class="price">{{.Site.Params.pricing2.price2}}</span>
        <span class="price monthly">{{.Site.Params.pricing2.monthlyprice2}}</span>
        <p class="description">{{.Site.Params.pricing2.description2}}</p>
        <span class="pricing-table-divider"></span>
        <ul>
            <li><b> {{.Site.Params.pricing2.boldlistpoint2}}</b></li>
        {{ range $pricing := .Site.Params.pricing2.checklist }}
            <li> {{ $pricing }}</li>
        {{end}}
        </ul>
      </div>
      <div class="pricing-box pricing-table-best">
        <h2>{{.Site.Params.pricing3.pricingTitle3}}</h2>
        <span class="price">{{.Site.Params.pricing3.price3}}</span>
        <span class="price monthly">{{.Site.Params.pricing3.monthlyprice3}}</span>
        <p class="description">{{.Site.Params.pricing3.description3}}</p>
        <span class="pricing-table-divider"></span>
        <ul>
        <li><b> {{.Site.Params.pricing3.boldlistpoint3}}</b></li>
        {{ range $pricing := .Site.Params.pricing3.checklist }}
          <li> {{ $pricing }}</li>
        {{end}}
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}}