.background-pricing{
  width: 100%;
  height: 100%;
}
.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 10em auto;
    margin-bottom: 1em;
    
  }
  .pricing-table-top h2 {
    font-size: 1.5em;
    padding: 35px 10px 10px 0px;
    margin: 0;
  }
  .pricing-table h2 {
    font-size: 1.5em;
    padding: 35px 10px;
    margin: 0;
  }
  .description {
    margin-top: 20px;
    font-size: 0.85em;
    padding: 0 40px;
    font-style: italic;
  }
  
  .description {
    margin-top: 20px;
    font-size: 0.85em;
    padding: 0 40px;
    font-style: italic;
  }
  .price,
  .pricing-box {
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
  }
  .price {
    background: darken($background,15%);
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    position: relative;
    padding: 20px 0px 0px 0px;
    display: block;
  }
  .monthly {
    font-size: 1em;
    padding: 0px 0px 20px 0px;
  }
  
  .pricing-box:nth-child(2) .price {
    background: darken($accent-main,33%);
  }
  .pricing-box:nth-child(3) .price {
    background: darken($background,15%);
  }
  .pricing-box:hover .price {
    background: $accent;
    box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.3);
    color: #000;
  }
  .btn {
    background: #ff0;
    border: 1px solid #d9d909;
    color: #000;
    -webkit-transition: all ease-out 0.2s;
    transition: all ease-out 0.2s;
    border-radius: 30px;
    padding: 7px 40px;
    display: inline-block;
    margin-top: 20px;
  }
  .btn:hover {
    background: #093e64;
    border: 1px solid #093e64;
    color: #fff !important;
  }
  .pricing-table-divider {
    display: block;
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
    max-width: 80%;
    margin: 20px auto 0;
  }
  .pricing-table-top {
    border-radius: 3px;
    display: -ms-grid;
    display: grid;
    // -ms-grid-columns: (1fr)[3];
    // grid-template-columns: repeat(3, 1fr);
    // grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .pricing-table-top ul li {
    padding: 3px 0;
    font-size: 0.95em;
  }
  p {
    color: $accent;
  }
  .pricing-table-top ul {
    color: #000;
    padding: 15px 20px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: left;
    margin-left: 10em;
  }
  .pricing-table {
    border-radius: 3px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
  }
  
  .pricing-box {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
    border: 2px solid rgba(10, 123, 183, 0.14);
    background-image: linear-gradient( $background, $background-grad);
    color: darken($accent,20%);
  }
  .pricing-box:nth-child(2) {
    background-image: linear-gradient($accent-main, $background-grad);
    h2{
        color: $accent
    }
  }
  .pricing-box:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
  .pricing-table ul li {
    padding: 3px 0;
    font-size: 0.95em;
  }

  .pricing-table ul {
    color: #000;
    padding: 15px 3em;
    text-align: left;
  }
.competitive{
  column-count: 1 !important;
  text-align: center;
  content:'✓';
  padding: 0;
  margin-left: 0 !important; 
  font-size: 2em;
}
  li {
      color:$accent;
  }
  ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    color: greenyellow;
  }
  @media (max-width: 1000px) {
    .pricing-table {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    .pricing-table > div:nth-child(3) {
      -ms-grid-row: 3;
      grid-row-start: 3;
    }
    .pricing-table > div:nth-child(2) {
      -ms-grid-row: 2;
      grid-row-start: 2;
    }
    .pricing-table > div {
      -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
    }
    .pricing-table-top ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
      margin-left: 0;
    }
  }