{{ define "main" }}
<div class="contactform">
    <form class="form" action="https://formspree.io/{{.Site.Params.contact.email}}" method="POST">
        <h2>CONTACT US</h2>
        <p type="Name:"><input name="name" placeholder="Firstname Lastname"></input></p>
        <p type="Email:"><input name="email" placeholder="you@email"></input></p>
        <p type="Message:"><input name="message" placeholder="What would you like to tell us"></input></p>
        <button>Send Message</button>
      </form>
</div>
{{end}}