---
new_page_extension: md
auto_deploy: false
admin_path: "/admin"
webhook_url: 
sections:
- type: directory
  path: ''
  label: Config
  create: all
  match: config.toml
- type: directory
  path: content
  label: Pages
  create: all
  match: "*"
- type: directory
  path: content/gallery
  label: Gallery
  create: all
  match: "**/*"
- type: directory
  path: data
  label: Data
  create: none
  match: "**/*.{json,yaml,yml,toml}"
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
version: '0.44'
