.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); 
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: dense;
    grid-gap: 1rem;
    margin: 5rem 0 0 0;
  }
  
.card {
    background:navy;
    border-radius: 10px;
    overflow: hidden;
    // -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    // box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.card h2, p{
    padding: .5rem;
}

.sketchfab-iframe-card{
    min-height: 200px;
    //border: .25px solid #000000;
}

div.galleryListInfo > a {
    color: $accent;
    position: absolute;
    bottom: 0;
    right: 0;
}

  @media (min-width: $min-width) {
    .cards {
    margin: 10rem 1rem 1rem 1rem;
    }
    .card{
    border-radius: 0;
    }      
  }