<div class="section" id="section2">
    <div id="scene">
        <div class="design-car-absolute"><div class="parallax-select" data-depth="0.2"><img class="design-car" src="/images/Car.png"></div></div>
        
        <div class="design-touch-absolute"><div class="parallax-select" data-depth="0.4"><img class="design-touch" src="/images/TouchScreen.png"></div></div>
        
        <div class="design-aamir-absolute"><div class="parallax-select" data-depth="0.6"><img class="design-aamir" src="/images/Aamir.png"></div></div>
    </div>   
</div>
