<div class="section" id="section0">
		<video id="myVideo" loop muted data-autoplay>
                <source src="{{.Site.Params.index.hero.video}}" type="video/webm">
            </video>
            <div class="layer">
                <img class="herologo" src="{{.Site.Params.index.hero.img}}">
                <p>{{.Site.Params.index.hero.txt}}</p>
                <a href="{{.Site.Params.index.hero.buttonurl}}" rel="noopener noreferrer" title="Get Robo Recall" class="btn cta-btn herobutton"><span>{{.Site.Params.index.hero.buttontxt}}</span></a>
            </div>
</div>