<div class="section" id="section3">
<div id="scene" class="vrscene">
    <div class="VR4-absolute"><div class="parallax-select" data-depth="0.2"><img class="VR4" src="/images/index/vr/4VRMobile.png"></div></div>
        
    <div class="VR2-absolute"><div class="parallax-select" data-depth="0.4"><img class="VR2" src="/images/index/vr/2VRMobile.png"></div></div>

    <div class="VR3-absolute"><div class="parallax-select" data-depth="0.9"><img class="VR3" src="/images/index/vr/3VRMobile.png"></div></div>
    

</div>

</div>