{{ define "main" }}
    {{ $script := resources.Get "js/list/script.js" | minify | fingerprint}}
    <script rel="script" src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity }}"></script>
    <div class="cards">
            {{ range .Pages}}
                {{if not .Params.private}}
                    <div class="card">
                        {{partial "sketchfabcard.html" .}}
                        <div class="galleryListInfo">
                            <h4><a href="{{.URL}}">{{.Title}}</a></h4>
                            {{.Content}}
                            <a data-fancybox data-src="#{{.Title}}" href="javascript:;">
                                Trigger the fancybox
                            </a>
                            <div style="display: none;" id="{{.Title}}">
                                <h2>{{.Title}}</h2>
                                {{.Content}}
                                {{partial "sketchfabcard.html" .}}
                            </div>
                        </div>
                    </div>        
                {{end}}
            {{end}}
    </div>        
{{end}}