// Varibles
$background: lemonchiffon; 
$min-width: 500px;

// Imports
@import 'imports';

body {
    background-color: $background;
    overflow-x: hidden;
    font-family: "Montserrat"
}

h1 {
    font-size: 3rem;
}

h2 {
    color: #000;
    margin: 2rem 0 .5rem;
    font-size: 1.25rem;
    font-weight: 400;
  }