// Variables
$background: #293744;
$background-grad: #394453;
$accent-main: #00aaff;
$hero-background: indianred;
$nav-background: darken(#222e39,10%);
$accent: white; 
$min-width: 580px;


// Imports
@import 'imports';

body {
    background-color: $background;
    overflow-x: hidden;
    font-family: "Montserrat"
}
