// Variables
$background: DarkSlateBlue;
$hero-background: indianred;
$nav-background:black; 
$min-width: 500px;

// Imports
@import 'imports';

body {
    background-color: $background;
    overflow-x: hidden;
    font-family: "Montserrat"
}
