<head>
    <title>{{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ with .Site.Params.description }} {{ . }} {{ end }}">
    <meta name="author" content="{{ with .Site.Params.name }} {{ . }} {{ end }}">

    {{ "<!-- Style -->" | safeHTML }}
    <!-- {{ $main := resources.Get "css/main.css" }} -->
    {{ $base := resources.Get "scss/base.scss" | resources.ToCSS | fingerprint}}
    <link rel="stylesheet" href="{{ $base.RelPermalink }}" integrity="{{ $base.Data.Integrity }}">
    {{ $slickcss := resources.Get "css/slick.css" }}
    {{ $slickthemecss := resources.Get "css/slick-theme.css" }}
    {{ $fontawesome := resources.Get "css/all.css" }}
    {{ $bundlecss := slice $fontawesome $slickcss $slickthemecss | resources.Concat "css/bundlecss.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $bundlecss.RelPermalink }}" integrity="{{ $bundlecss.Data.Integrity }}">
    
    {{ "<!-- Javascript -->" | safeHTML }}
    {{ $jquery := resources.Get "js/libs/jquery-3.3.1.min.js" }}
    {{ $scrollmagic := resources.Get "js/libs/ScrollMagic.min.js" }}
    {{ $tweenmax := resources.Get "js/libs/TweenMax.min.js"}}
    {{ $scrollmagicdebugger := resources.Get "js/libs/plugins/debug.addIndicators.min.js"}}
    {{ $slick := resources.Get "js/libs/slick.min.js" }}
    {{ $bundlejs := slice $jquery $scrollmagic $tweenmax $slick $scrollmagicdebugger | resources.Concat "js/bundle.js" | minify | fingerprint}}
    <script rel="script" src="{{ $bundlejs.RelPermalink }}" integrity="{{ $bundlejs.Data.Integrity }}"></script>
</head>