<nav class="index-nav">
    <div class="navbar-items"></div>
        <div class="navbar-toggle">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navbar-link">
            <a href="/services">
                <h3>Services</h3>
            </a>
        </div>
        <div class="navbar-link">
            <a href="/gallery">
                <h3>Gallery</h3>
            </a>
        </div>

        <div class="navbar-link logonav">
            <a href="/">
                <img class="navbarlogo" src="/images/xixlogowhite.png">
            </a>
        </div>

        <div class="navbar-link">
            <a href="/pricing">
                <h3>Pricing</h3>
            </a>
        </div>
        
        <div class="navbar-link">
            <a href="/contact">
                <h3>Contact</h3>
            </a>
        </div>
    </div>    
</nav>