<div class="slider-container">
<div class="slider">
    <div><img src="{{ .Site.Params.slider.img1 }}"></div>
    <div><img src="{{ .Site.Params.slider.img2 }}"></div>
    <div><img src="{{ .Site.Params.slider.img3 }}"></div>
    <div><img src="{{ .Site.Params.slider.img4 }}"></div>
</div>
<div class="slider-nav">
    <div><i class="fab {{.Site.Params.slider.icon1}}"></i></div>
    <div><i class="fab {{.Site.Params.slider.icon2}}"></i></div>
    <div><i class="fab {{.Site.Params.slider.icon2}}"></i></div>
    <div><i class="fab {{.Site.Params.slider.icon4}}"></i></div>
</div>
</div>