<div class="slider-container">
<div class="slider-single">
    <div><img src="{{ .Site.Params.slider.img1 }}"><div class="slider-info">{{ .Site.Params.slider.txt1 }}</div></div>
    <div><img src="{{ .Site.Params.slider.img2 }}"><div class="slider-info">{{ .Site.Params.slider.txt2 }}</div></div>
    <div><img src="{{ .Site.Params.slider.img3 }}"><div class="slider-info">{{ .Site.Params.slider.txt3 }}</div></div>
    <div><img src="{{ .Site.Params.slider.img4 }}"><div class="slider-info">{{ .Site.Params.slider.txt4 }}</div></div>
</div>
<div class="slider-nav">
    <div><i class="{{.Site.Params.slider.icon1}}"></i></div>
    <div><i class="{{.Site.Params.slider.icon2}}"></i></div>
    <div><i class="{{.Site.Params.slider.icon2}}"></i></div>
    <div><i class="{{.Site.Params.slider.icon4}}"></i></div>
</div>
</div>